# Ignore everything...
**

# Except these essentials:
!Containerfile
!Containerfile.api
!Containerfile.indexer
!Containerfile.ui
!src/**
!requirements.txt
!requirements/**
!metadata_master_1.json
!metadata_master_1.json.example
!official_urls.json
!README.md
!LICENSE
!models/llava/ggml-model-q4_k.gguf
!models/all-MiniLM-L6-v2/**
