# Modelos pesados
models/

# Estado de autenticación de SharePoint
.sp_storage_state.json
secrets/
*.sp_storage_state.json

# Metadatos generados
metadata_master_*.json

# Cosas de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Entornos virtuales
.venv/
venv/

# Cosas de editor/IDE
.vscode/
.idea/
*.code-workspace

# Otros
*.zip
